<p id="notice"><%= notice %></p>
<% if @evenement.user.idfacebook
     @id = @evenement.user.idfacebook
     url = "https://graph.facebook.com/"+@id.to_s+"/picture"
   else
     url = "/images/profile.jpg"
   end

%>

<div id="evenement">
  <div class="user"><img src= <%= url %> ><br/><b><%= @evenement.user.login %></b></div>
  <div class="infoEvent">
    <span class="nomEvent"><%= @evenement.nom %></span><br/>
    <span class="dateEvent"><%= @evenement.date.to_date.to_formatted_s(:rfc822) %></span> &nbsp; | &nbsp;Au <span class="endroitEvent"><%= @evenement.endroit.nom %></span><br/>
    <span class="descEvent"><%= @evenement.description %></span><br/>
  </div>
  <div class="imageEvent"></div>
</div>

<p>
  <b>Frequence:</b>
  <%= @evenement.frequence %>
</p>

<p>
  <b>Confidentialite:</b>
  <%= @evenement.confidentialite %>
</p>
<p>
  <b>Categorieevent:</b>
  <%#= @evenement.categorie_event.libelle %>
</p>

<p>
  <b>User:</b>

</p>


<%= link_to 'Edit', edit_evenement_path(@evenement) %> |
<%= link_to 'Back', evenements_path %>
